[include kiauh_macros.cfg]
# This file contains common pin mappings for the BigTreeTech SKR 2.
# To use this config, the firmware should be compiled for the
# STM32F407 with a "32KiB bootloader".

# The "make flash" command does not work on the SKR 2. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR 2
# with that SD card.

# See docs/Config_Reference.md for a description of parameters.

# Note: The initial revision of this board has a flaw that can cause
# damage to itself and other boards. Be sure to verify the board is
# not impacted by this flaw before using it.

[stepper_x]
step_pin: PE2
dir_pin: !PE1
enable_pin: !PE3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: 0
position_max: 300
homing_speed: 50

[stepper_y]
step_pin: PD5
dir_pin: !PD4
enable_pin: !PD6
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC3
position_endstop: 0
position_max: 300
homing_speed: 50

[stepper_z]
step_pin: PA15
dir_pin: PA8
enable_pin: !PD1
microsteps: 16
rotation_distance: 8
# Disable to use BLTouch
# endstop_pin: ^PC0
# Disable to use BLTouch
# position_endstop: 0.0
# Enable to use BLTouch
endstop_pin: probe:z_virtual_endstop
# Enable to use BLTouch
position_min: -5
position_max: 400
homing_retract_dist: 0

[extruder]
step_pin: PD15
dir_pin: !PD14
enable_pin: !PC7
rotation_distance: 4.637 #(200fsprx16ms)/700spmm
microsteps: 16
full_steps_per_rotation: 200 #360/1.8sd
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PB3
sensor_type: ATC Semitec 104GT-2
sensor_pin: PA2
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 250
max_extrude_only_distance: 500
max_extrude_only_velocity: 3200
max_extrude_only_accel: 600

[heater_bed]
heater_pin: PD7
sensor_type: ATC Semitec 104GT-2
sensor_pin: PA1
control: watermark
min_temp: 0
max_temp: 130

[fan]
pin: PB7

[heater_fan fan1]
pin: PB6

[filament_switch_sensor e0_sensor]
switch_pin: PC2

[output_pin motor_power]
pin: PC13
value: 1

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_380032001447393439303238-if00

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PC5, EXP1_3=PB1, EXP1_5=PE10, EXP1_7=PE12, EXP1_9=<GND>,
    EXP1_2=PB0, EXP1_4=PE9, EXP1_6=PE11, EXP1_8=PE13, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PA6, EXP2_3=PE7, EXP2_5=PB2, EXP2_7=PC4,   EXP2_9=<GND>,
    EXP2_2=PA5, EXP2_4=PA4, EXP2_6=PA7, EXP2_8=<RST>, EXP2_10=<NC>

# See the sample-lcd.cfg file for definitions of common LCD displays.

[display]
lcd_type: st7920
cs_pin: EXP1_7
sclk_pin: EXP1_6
sid_pin: EXP1_8
encoder_pins: ^EXP1_5, ^EXP1_3
click_pin: ^!EXP1_2

[output_pin beeper]
pin: EXP1_1

[bltouch]
sensor_pin: ^PE4
control_pin: PE5
x_offset: 38.2
y_offset: 0
#z_offset: 0
speed: 5.0

# From reddit for Ender 3
# https://www.reddit.com/r/klippers/comments/9tu2ib/config_file_for_modded_ender_3/
[homing_override]
set_position_z:6
axes: z
gcode:
        G90
        G1 Z10 F6000
        G28 X Y
        G1 X150 Y150 F6000
        G28 Z0
        G1 X150 Y150 Z10

# This adds a bed screws adjust GCode, that moves the nozzle around for you so you can paper adjust. Values are for cr10 rn
[bed_screws]
screw1: 25,25
screw1_name: Front left screw
screw2: 25,263
screw2_name: Rear left screw
screw3: 255,263
screw3_name: Rear right screw
screw4: 255,25
screw4_name: Front right screw

[bed_mesh] 
speed: 100    #   The speed (in mm/s) of non-probing moves during the calibration. The default is 50.
horizontal_move_z: 8 # height (in mm) that the head should be commanded to move to  just prior to starting a probe
mesh_min: 48,23 # relative to probe location X-47, Y--2 --> 25,25
mesh_max: 253,273 # relative to probe location X-47, Y--2 --> 275,275
probe_count: 4,4 # number of probe points x,y
split_delta_z: .025 # z step ?  The amount of Z difference (in mm) along a move that will trigger a split. Default is .025.
mesh_pps: 2,2 # nr of points per segment to interpolate in the mesh. 

########################################
# TMC2208 configuration
########################################

[tmc2208 stepper_x]
uart_pin: PE0
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 999999

[tmc2208 stepper_y]
uart_pin: PD3
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 999999

[tmc2208 stepper_z]
uart_pin: PD0
run_current: 0.650
hold_current: 0.450
stealthchop_threshold: 999999

[tmc2208 extruder]
uart_pin: PC6
run_current: 0.500
hold_current: 0.350
stealthchop_threshold: 0

[pause_resume]
recover_velocity: 50 #allows pause resume functionality.

[virtual_sdcard]
path: ~/gcode_files

[display_status]

######################################################################
# Start Print and End Print
######################################################################

# Replace the slicer's custom start and end g-code scripts with
# START_PRINT and END_PRINT.

[gcode_macro START_PRINT]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(200)|float %}
    {% set Z_OFFSET = params.Z_OFFSET|default(0)|float %}
    # Use absolute coordinates
    G90
    # Reset the G-Code Z offset (adjust Z offset if needed)
    SET_GCODE_OFFSET Z={Z_OFFSET|float}
    # Home the printer
    G28
    # Use the bed mesh 
    BED_MESH_PROFILE LOAD=default
    # Move the nozzle near the bed
    G1 X0 Y20 Z5 F6000
    
    M117 Waiting for temperature
    # Start bed heating and continue
    M140 S{BED_TEMP}
    {% if printer.heater_bed.temperature > params.BED_TEMP|float*0.85 %}
        M140 S{BED_TEMP}
        M109 S{EXTRUDER_TEMP} 
        M190 S{BED_TEMP}
    {% else %}
        M190 S{params.BED_TEMP|float*0.85} # wait till 0.85 of bed temp is reached, then continue
        M140 S{BED_TEMP} 
        M109 S{EXTRUDER_TEMP}
        M190 S{BED_TEMP}
    {% endif %}
    
    # Prime line
    PRIME_LINE
    M117 Printing...

[gcode_macro END_PRINT]
gcode:
    M117 Done printing :)
    # move z up
    G91
    G1 E-3 Z+10 F3000
    # absolute xy 
    G90
    G1 X10 Y220 F2000
    #disable hotend and heated bed
    M104 S0
    M140 S0
    # disable steppers
    M84
    BED_MESH_CLEAR

# prime the nozzle 
[gcode_macro PRIME_LINE]
gcode: 
    M117 Prime Line
    G92 E0 ;Reset Extruder
    # move z axis 
    G1 Z2.0 F3000 ;Move Z Axis up
    # move to prime position 
    G1 X20 Y30 Z0.28 F5000.0 ;Move to start position
    G1 X20 Y200.0 Z0.28 F1500.0 E15 ;Draw the first line
    G1 X22 Y200.0 Z0.28 F5000.0 ;Move to side a little
    G1 X22 Y50 Z0.28 F1500.0 E30 ;Draw the second line
    G92 E0 ;Reset Extruder
    G1 Z2.0 F3000 ;Move Z Axis up

# G29 that does (1) home all (2) get bed mesh (3) move nozzle to corner so it doesnt ooze on the bed while heating up.
[gcode_macro G29]
gcode:
    G28
    BED_MESH_CALIBRATE
    G0 X0 Y0 Z10 F6000
    BED_MESH_PROFILE save=default

# Park toolhead
[gcode_macro M125]
gcode:
    SAVE_GCODE_STATE NAME=parking
    M117 Parking toolhead
    G91
    G1 Z20 F600 # move up 5 mm
    G90
    G1 X125 Y0 F4000 # move to park position
    RESTORE_GCODE_STATE NAME=parking

# LOW_TEMP_CHECK checks if there is a setpoint for the  extruder. Untested! 
# - If this setpoint is reached, continue. 
# - If not, heat to setpoint.
# - If no setpoint, heat to parameter T (default@200)
[gcode_macro LOW_TEMP_CHECK]
gcode:
    {% set T = params.T|default(200)|float %}
    {% if printer.extruder.target != 0 %} # if there is a setpoint for extruder
        {% if printer.extruder.temperature < printer.extruder.target %} # if not reached, heat
            M118 Heating from {printer.extruder.temperature} to {printer.extruder.target}.
            M109 S{printer.extruder.target|float} 
        {% endif %}
    {% else %} # if no setpoint for extruder
        {% if printer.extruder.target < T %}  # heat to T.
            M118 No setpoint, heating to {T}.
            M109 S{T}
        {% endif %}
    {% endif %}
    
# load filament
[gcode_macro M701]
gcode:
    SAVE_GCODE_STATE NAME=loading_filament
    M117 Loading Filament
    M83
    G92 E0.0
    LOW_TEMP_CHECK
    G1 E420 F6000  # length of bowden tube till cold-end (~420mm) 
    G1 E100 F200  # some extra to prime the nozzle --> slower 
    G92 E0.0
    RESTORE_GCODE_STATE NAME=loading_filament
    
# unload filament
[gcode_macro M702]
gcode:
    SAVE_GCODE_STATE NAME=unloading_filament
    M125 # park
    M117 Unloading Filament 
    LOW_TEMP_CHECK
    G91 # set relative
    G1 E10 F100 
    G92 E0.0
    G1 E-530 F6000 # the E is the length of the bowden tube (420mm) + 100 mm. 
    G92 E0.0
    RESTORE_GCODE_STATE NAME=unloading_filament

# filament change 
[gcode_macro M600]
gcode:
    M117 Filament Change
    M118 Filament Change
    SAVE_GCODE_STATE NAME=filament_change
    PAUSE
    LOW_TEMP_CHECK
    G91 # relative
    G1 E-1 F300 # retract 1
    M125 # park
    M702 # unload

    M117 New filament
    M118 New filament
    COUNTDOWN TIME=25 MSG="Switch"
    M701
    COUNTDOWN TIME=10 MSG="Clean"
    RESUME
    M117 Resuming
    M118 Resuming
    RESTORE_GCODE_STATE NAME=filament_change
    M117 Printing..
    M118 Printing..

[gcode_macro COUNTDOWN]
default_parameter_MSG: "Time: "
default_parameter_TIME: 10
gcode: 
    # countdown 
    {% for s in range(TIME|int, 0, -1) %}
        # dwell 1 second
        G4 P1000
        # echo
        M117 {params.MSG} {s}s
        M118 {params.MSG} {s}s
    {% endfor %}

[gcode_macro M600]
gcode:
  PAUSE_MACRO
  UNLOAD

[gcode_macro PAUSE_MACRO]
gcode:
  PAUSE
  PARK_MACRO
  SET_IDLE_TIMEOUT TIMEOUT=7200

[gcode_macro PURGE]
gcode:
  M117 Purging..
  G91
  G1 E45.0 F250
  G90
  M117

[gcode_macro RESUME_MACRO]
gcode:
  M117  Resuming...
  RESUME
  M117

[respond]
default_type: command

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 26.003
#*# pid_ki = 1.333
#*# pid_kd = 126.765
#*#
#*# [bltouch]
#*# z_offset = 2.000
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -1.532500, -1.075000, -0.507500, 0.047500, 0.640000
#*# 	  -1.372500, -0.962500, -0.437500, 0.077500, 0.647500
#*# 	  -1.145000, -0.755000, -0.247500, 0.255000, 0.795000
#*# 	  -0.922500, -0.537500, -0.040000, 0.440000, 0.967500
#*# 	  -0.712500, -0.350000, 0.162500, 0.617500, 1.112500
#*# tension = 0.2
#*# min_x = 48.2
#*# algo = bicubic
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 50.0
#*# x_count = 5
#*# max_y = 290.0
#*# mesh_x_pps = 2
#*# max_x = 261.8
